[submodule "utils"]
	path = utils
	url = https://github.com/CarloWood/ai-utils.git
	branch = master
[submodule "cwds"]
	path = cwds
	url = https://github.com/CarloWood/cwds.git
	branch = master
[submodule "cwm4"]
	path = cwm4
	url = https://github.com/CarloWood/cwm4.git
	branch = master
[submodule "memory"]
	path = memory
	url = https://github.com/CarloWood/memory.git
	branch = master
[submodule "enchantum"]
	path = enchantum
	url = https://github.com/ZXShady/enchantum.git
